@font-face {
  font-family: "Futura Regular";
  src: url("../fonts/Futura-Regular.woff2") format("woff2"), url("../fonts/Futura-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DS Digital";
  src: url("../fonts/ds-digital-bold_allfont.net-webfont.woff2") format("woff2"), url("../fonts/ds-digital-bold_allfont.net-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: #f6f8ff;
  color: #5C6972;
  font-family: Futura Regular, Helvetica Neue, Arial;
  letter-spacing: 0.05em;
}

::selection {
  background: #ba77b6;
  color: white;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

#logo {
  padding-top: 4em;
  max-width: 600px;
  margin: auto;
  display: block;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

section {
  transform: scale(1);
  transition: transform 0.15s;
  max-width: 800px;
  margin: auto;
  margin-top: 6em;
  background-color: #f6f8ff;
  border-radius: 40px;
  padding: 2em;
  background: linear-gradient(250deg, #F1F4FF 19.14%, #F9FAFF 154.68%);
  box-shadow: 16px 4px 64px rgba(18, 61, 101, 0.3), -16px -16px 40px rgba(255, 255, 255, 0.8), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(205, 212, 219, 0.8);
  min-width: 300px;
}
section h3 {
  margin-block-start: 0em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.075em;
}
section span {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
section .calcul {
  display: table;
  text-align: center;
  margin: auto;
  font-size: 1.25em;
}
section .calcul span {
  padding: 0.75em;
}
section .calcul span[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: inline-block;
  color: rgba(92, 105, 114, 0.5);
  cursor: text;
}
section .calcul .input {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 5em;
  line-height: 1.5em;
  border-radius: 50px;
  background: linear-gradient(250deg, #F1F4FF 19.14%, #F9FAFF 154.68%);
  box-shadow: -3px -3px 7px rgb(243, 243, 243), -16px -16px 40px rgba(255, 255, 255, 0), inset 3px 3px 7px rgba(0, 0, 0, 0.1);
  position: relative;
  transition-property: background, opacity, box-shadow;
  transition-duration: 0.15s;
}
section .calcul .input:focus {
  box-shadow: 16px 4px 44px rgba(18, 61, 101, 0.2), -16px -16px 40px rgba(255, 255, 255, 0.8), inset -8px -6px 80px rgba(255, 255, 255, 0.1);
  transition-property: background, opacity, box-shadow;
  transition-duration: 0.15s;
}
section .calcul .input.pourcent {
  padding-right: 1em;
}
section .calcul .input.pourcent:after {
  content: "%";
  position: absolute;
  color: rgba(92, 105, 114, 0.5);
}
section .calcul .input.pourcent.full:after {
  color: #5C6972;
}
section .calcul .input:focus {
  outline: none;
  border-color: red;
}
section .calcul .input.error {
  background: radial-gradient(circle, rgba(229, 26, 26, 0.8) -1%, rgb(229, 26, 26) 100%) !important;
  box-shadow: 0px 4px 16px rgba(255, 30, 28, 0.5), inset -2px 0px 2px rgba(96, 18, 0, 0.1);
  color: #f6f8ff;
}
section .calcul .input.error:after, section .calcul .input.error[contenteditable=true]:empty:before {
  color: rgba(246, 248, 255, 0.6);
}
section .calcul .input.error.full:after {
  color: #f6f8ff;
}
section .calcul.quant .resultat:before {
  content: "20%";
}
section .calcul.ajout .resultat:before {
  content: "120";
}
section .calcul.retrait .resultat:before {
  content: "80";
}
section .calcul.solde .resultat:before {
  content: "8";
}
section .calcul.evo .resultat:before {
  content: "100%";
}
section .calcul.evo #phrase {
  width: 210px;
  padding-left: 0px;
}
section .calcul .resultat {
  position: relative;
  min-width: 50px;
  display: inline-block;
}
section .calcul .resultat:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background-color: rgba(92, 105, 114, 0.5);
  bottom: 3px;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%);
}
section .calcul .resultat:before {
  display: inline-block;
  color: rgba(92, 105, 114, 0.5);
}
section .calcul .resultat.valid:after {
  background-color: #70FF00;
  box-shadow: 0.6px 0.6px 5px rgba(145, 227, 105, 0.9), inset -0.2px -0.2px 0.4px rgba(46, 68, 87, 0.2);
}
section .calcul .resultat.invalid:after {
  background-color: #E51A1A;
  box-shadow: 0.6px 0.6px 9px rgba(229, 26, 26, 0.8), inset -0.2px -0.2px 0.4px rgba(46, 68, 87, 0.2);
}
section .calcul .resultat.hidePh:before {
  display: none;
}
section.focus {
  transform: scale(1.03);
  transition: transform 0.15s;
}

footer {
  padding: 5em 0;
}
footer .compteur {
  margin: auto;
  position: relative;
  height: 3.5em;
  width: 15em;
  border-radius: 12px;
  background: linear-gradient(-60deg, #B5C2AC 19.14%, #C9D2C2 154.68%);
  box-shadow: 5px 5px 20px rgba(0, 6, 39, 0.16), -5px -5px 30px rgba(255, 255, 255, 0.9), inset 0px 1px 4px rgba(74, 81, 70, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-bottom: 5em;
}
footer .compteur:before {
  box-sizing: border-box;
  content: "00000000";
  font-family: "DS Digital";
  padding-right: 15px;
  padding-left: 15px;
  left: 0px;
  bottom: 0px;
  font-size: 2.5em;
  color: #383A37;
  opacity: 0.11;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .compteur span {
  padding-right: 36px;
  padding-left: 36px;
  font-family: "DS Digital";
  font-size: 2.5em;
  color: #383A37;
  opacity: 0.9;
}
footer p {
  text-align: center;
  line-height: 1.7em;
  margin: 0.5em 0;
}
footer p a {
  text-decoration: none;
  padding-bottom: 3px;
  color: #5C6972;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to right, #D087C9, #5961F9);
  background-repeat: no-repeat;
  background-position: 120%, 122%, 0 130%;
  background-size: 100% 0.4em;
}
footer a:hover {
  opacity: 0.8;
}
footer a:active {
  opacity: 0.65;
}
footer a svg path {
  fill: #5C6972;
}
footer #link {
  display: block;
  position: relative;
  top: 1em;
  width: 18px;
  margin: auto;
}

#sep {
  max-width: 800px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

#notAIGeneratedText {
  max-width: 800px;
  margin: auto;
  margin-bottom: 5em;
}
#notAIGeneratedText img {
  display: block;
  width: 20em;
  margin: auto;
  border-radius: 15px;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
.pushable .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(0deg, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable .edge {
  position: absolute;
  box-shadow: 0px 4px 16px rgba(255, 30, 28, 0.3), inset -2px 0px 2px rgba(96, 18, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, hsl(340deg, 100%, 16%) 0%, hsl(340deg, 100%, 32%) 8%, hsl(340deg, 100%, 32%) 92%, hsl(340deg, 100%, 16%) 100%);
}
.pushable .front {
  display: block;
  font-family: Futura Regular, Helvetica Neue, Arial;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: hsl(345deg, 100%, 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1f23;
    color: #d6e1ef;
  }
  section {
    background: linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4), -4px -2px 16px rgba(195, 200, 205, 0.05), inset -8px -6px 80px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(80, 89, 98, 0.1);
  }
  section .calcul span {
    padding: 0.75em;
  }
  section .calcul span[contenteditable=true]:empty:before {
    color: rgba(246, 248, 255, 0.3);
  }
  section .calcul .input {
    background: linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0), -4px -2px 16px rgba(195, 200, 205, 0), inset 2px 3px 10px #070709, inset -2px -2px 10px rgba(255, 255, 255, 0.05);
  }
  section .calcul .input:focus {
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4), -4px -2px 16px rgba(195, 200, 205, 0.1), inset -8px -6px 80px rgba(0, 0, 0, 0.18), inset -2px -2px 10px rgba(255, 255, 255, 0);
  }
  section .calcul .input.error {
    box-shadow: 0px 1px 20px rgba(255, 30, 28, 0.8), inset -2px 0px 2px rgba(96, 18, 0, 0.1);
  }
  section .calcul .input.pourcent:after {
    color: rgba(246, 248, 255, 0.3);
  }
  section .calcul .input.pourcent.full:after {
    color: #5C6972;
  }
  section .calcul .resultat:after {
    background-color: rgba(246, 248, 255, 0.3);
  }
  section .calcul .resultat:before {
    color: rgba(246, 248, 255, 0.3);
  }
  section .calcul .resultat.valid:after {
    background-color: #04B5A7;
    box-shadow: 0.6px 0.6px 5px rgb(4, 181, 167), inset -0.2px -0.2px 0.4px rgba(46, 68, 87, 0.2);
  }
  footer .compteur {
    box-shadow: inset 0px 1px 4px rgb(3, 19, 22);
    background: linear-gradient(-60deg, #04252D 19.14%, #072E37 154.68%);
  }
  footer .compteur span {
    color: #04B5A7;
    opacity: 1;
  }
  footer .compteur:before {
    color: #04B5A7;
    opacity: 0.02;
  }
  footer p a {
    color: #d6e1ef;
  }
  footer a svg path {
    fill: #d6e1ef;
  }
}
@media screen and (max-width: 1200px) {
  #logo {
    padding-top: 2em;
    max-width: 400px;
  }
  h1 {
    font-size: 1.2em;
    margin: 0.6em 0;
  }
  section {
    max-width: 600px;
    padding: 1.5em;
    margin-top: 3em;
  }
  section h3 {
    font-size: 1.25em;
  }
  section .calcul {
    font-size: 1em;
  }
  section .calcul span {
    padding: 0.5em;
  }
  section .calcul .input {
    min-width: 3.5em;
  }
  footer {
    padding: 3em 0;
  }
  footer .compteur {
    margin-bottom: 3em;
  }
  footer p {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 415px) {
  h1 {
    font-size: 1em;
    margin: 0.6em 0;
  }
  section {
    margin-top: 2em;
    padding: 1.5em 0.5em;
  }
  section .calcul span {
    padding: 0.3em;
  }
  section .calcul .input {
    min-width: 3em;
  }
  section .calcul .resultat {
    position: relative;
  }
  section .calcul .resultat:after {
    bottom: -1px;
  }
  section .calcul.evo .input {
    margin-top: 1em;
  }
}
