// $variable: #333;

// @font-face {
//     font-family: '';
//     src: url('../fonts/.woff2') format('woff2'),
//         url('../fonts/.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

$background: #1a1d24;
$accent: #fee6c0;
$inputEmpty: rgba(0, 0, 0, 0.4);
$inputFull: black;

body {
	margin: 0;
	background-color: $background;
	color: $accent;
	font-family: Helvetica Neue;
	font-weight: 200;
}