@media (prefers-color-scheme: dark) {
    body {
        background-color: $nightBg;
        color: $nightFt;
    }

    section {
        background: linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);

		box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4),
				 -4px -2px 16px rgba(195, 200, 205, 0.05),
				 inset -8px -6px 80px rgba(0, 0, 0, 0.18);

		border: 1px solid rgba(80, 89, 98, .1);

		.calcul {
			span {
				padding: .75em;

				&[contenteditable=true]:empty:before {
					color: $nightPh;
				}
			}

			.input {
				background: linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);

				box-shadow: //invisible pour transition
							4px 4px 18px rgba(0, 0, 0, 0),
					 		-4px -2px 16px rgba(195, 200, 205, 0),

							inset 2px 3px 10px #070709,
							inset -2px -2px 10px rgba(255, 255, 255, 0.05);


				&:focus {
					box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4),
					 -4px -2px 16px rgba(195, 200, 205, 0.1),
					 inset -8px -6px 80px rgba(0, 0, 0, 0.18),
					 //invisible pour transition
					 inset -2px -2px 10px rgba(255, 255, 255, 0);


				}

				&.error {
				 	box-shadow: 0px 1px 20px rgba(255, 30, 28, 0.8), inset -2px 0px 2px rgba(96, 18, 0, 0.1);
				 }

				&.pourcent {
					&:after {
						color: $nightPh;
					}

					&.full:after {
						color: $baseFt;
					}
				}
			}

			.resultat {
				&:after {
					background-color: $nightPh;
				}

				&:before {
					color: $nightPh;
				}

				&.valid:after {
					background-color: $nightCt;
					box-shadow: 0.6px 0.6px 5px rgba(4, 181, 167, 1),
								inset -0.2px -0.2px 0.4px rgba(46, 68, 87, 0.2);
				}
			}
		}
    }

    footer {
		.compteur {
			box-shadow: inset 0px 1px 4px rgba(3, 19, 22, 1);
			background: linear-gradient(-60deg, #04252D 19.14%, #072E37 154.68%);

			span {
				color: $nightCt;
				opacity: 1;
			}

			&:before {
				color: $nightCt;
				opacity: .02;
			}
		}

		p a {
			color: $nightFt;
		}

		a svg path {
			fill: $nightFt;
		}
	}
}

@media screen and (max-width: 1200px) {
	#logo {
		padding-top: 2em;
		max-width: 400px;
	}

	h1 {
		font-size: 1.2em;
		margin: .6em 0;
	}

	section {
		max-width: 600px;
		padding: 1.5em;
		margin-top: 3em;

		h3 {
			font-size: 1.25em;
		}

		.calcul {
			font-size: 1em;

			span {
				padding: .5em;
			}

			.input {
				min-width: 3.5em;
			}
		}
	}

	footer {
		padding: 3em 0;

		.compteur {
			margin-bottom: 3em;
		}

		p {
			font-size: .85em;
		}
	}
}

@media screen and (max-width: 415px) {
	h1 {
		font-size: 1em;
		margin: .6em 0;
	}

	section {
		margin-top: 2em;
		padding: 1.5em .5em;

		.calcul {
			span {
				padding: .3em;
			}

			.input {
				min-width: 3em;
			}

			.resultat {
				position: relative;
				
				&:after {
				    bottom: -1px;
				}
			}

			&.evo .input {
				margin-top: 1em;
			}
		}
	}
}























