@import 'global';



body {
	font-size: 1.4em;
}

#main {
	display: flex;
	flex-direction: column;
	padding-top: 30vh;
}

h1 {
	text-align: center;
	font-size: 3em;
}




.error {
	border-color: purple!important;
}

.resultat:before {
	display: inline-block;
	color: $accent;
    opacity: .5;
}

.quant .resultat:before {
	content: "20%";
}

.solde .resultat:before {
	content: "8";
}

.evo .resultat:before {
	content: "100%";
}

.resultat.hidePh:before {
	display: none;
}


.calcul {
	margin-bottom:  1em;
	font-size: 30px;
	text-align: center;
	
	.input {
		display: inline-block;
		background-color: $accent;
		border-radius: 50px;
		border: 2px solid $accent;
		color: $inputFull;
		padding: .5em;
		min-width: 60px;

		&.pourcent {
			padding-right: 1em;
			
			&:after {
				content: "%";
				position: absolute;
				color: $inputEmpty;
			}

			&.full:after {
				color: $inputFull;
			}
		}

		&:focus {
			outline: none;
			border-color: red;

		}
	}

	[contenteditable=true]:empty:before {
		content: attr(placeholder);
		display: inline-block;
		color: $inputEmpty;
		cursor: text;
	}

	.resultat {
		display: inline-block;
		border-bottom: 5px solid $accent;
		transition: border .2s ease-out;
		padding: .6em;
		min-width: 60px;
		color: $accent;

		&.valid {
			border-bottom: 5px solid green;
		}

		&.invalid {
			border-bottom: 5px solid red;
		}
	}
}

@import 'media';